## where to use pandas
- data manipulation
- data visualization
-

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.3'

## key data structure
- series=one list
- dataframe=full table

### pandas series

In [7]:
sales=pd.Series([1,2,3])

In [8]:
sales

0    1
1    2
2    3
dtype: int64

In [13]:
sales[0]

np.int64(1)

In [15]:

sales[1]

np.int64(2)

In [16]:
sales[:2]# provide the data until n-1

0    1
1    2
dtype: int64

## attributes

In [17]:
sales.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
sales.values

array([1, 2, 3])

In [19]:
sales.dtype

dtype('int64')

## methods

In [20]:
sales.head()# by default it shows the first 5 row

0    1
1    2
2    3
dtype: int64

In [21]:
sales.tail()#by default it shows the 5 last value

0    1
1    2
2    3
dtype: int64

In [22]:
sales.tail(1)

2    3
dtype: int64

In [23]:
sales.sort_values()

0    1
1    2
2    3
dtype: int64

In [24]:
sales1=pd.Series([1,2,7,8,3,5,1,3,8,0,4])

In [25]:
sales1

0     1
1     2
2     7
3     8
4     3
5     5
6     1
7     3
8     8
9     0
10    4
dtype: int64

In [26]:
sales1.sort_values()

9     0
0     1
6     1
1     2
7     3
4     3
10    4
5     5
2     7
3     8
8     8
dtype: int64

In [27]:
sales1.count()

np.int64(11)

In [28]:
sales1.isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [29]:
sales1.notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
dtype: bool

## operation ]

In [30]:
sales+2

0    3
1    4
2    5
dtype: int64

In [31]:
sales

0    1
1    2
2    3
dtype: int64

In [32]:
sales*3

0    3
1    6
2    9
dtype: int64

In [33]:
sales**2

0    1
1    4
2    9
dtype: int64

In [34]:
sales_with_missing=pd.Series([1,4,5,None,7,6,None])

In [35]:
sales_with_missing

0    1.0
1    4.0
2    5.0
3    NaN
4    7.0
5    6.0
6    NaN
dtype: float64

In [37]:
sales_with_missing.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [38]:
sales_with_missing.notnull()

0     True
1     True
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [41]:
s1=sales_with_missing.fillna(0)

In [42]:
sales_with_missing

0    1.0
1    4.0
2    5.0
3    NaN
4    7.0
5    6.0
6    NaN
dtype: float64

In [43]:
s1

0    1.0
1    4.0
2    5.0
3    0.0
4    7.0
5    6.0
6    0.0
dtype: float64

In [66]:
sales_with_missing=sales_with_missing.fillna(0)

In [67]:
sales_with_missing

0       1.0
1       4.0
2       5.0
3    9000.0
4       7.0
5       6.0
6    9000.0
dtype: float64

In [68]:
sales_with_missing

0       1.0
1       4.0
2       5.0
3    9000.0
4       7.0
5       6.0
6    9000.0
dtype: float64

In [69]:
sales_with_missing

0       1.0
1       4.0
2       5.0
3    9000.0
4       7.0
5       6.0
6    9000.0
dtype: float64

In [70]:
s=pd.Series(data=[100,200,300,400,500,600],index=list('abcdef'))

In [71]:
s

a    100
b    200
c    300
d    400
e    500
f    600
dtype: int64

## pandas dataframe

### create dataframe

In [73]:
data=pd.DataFrame({
    'name':['rosan','kamal'],
    'age':[21,23]
})

In [74]:
data

    name  age
0  rosan   21
1  kamal   23

In [77]:
s1=pd.Series(data=[1,2,3,4,5])
s2=pd.Series(data=[10,20,30,40,50])
s3=pd.Series(data=[100,200,300,400,500],index=list('abcde'))
data=pd.DataFrame({'c1':s1,'c2':s2})

In [78]:
s3

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [79]:
data

   c1  c2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

## attributes

In [80]:
s1.shape

(5,)

In [81]:
data.shape

(5, 2)

In [82]:
data.columns

Index(['c1', 'c2'], dtype='object')

### Accessing data

## using lables

In [83]:
data.loc[0]

c1     1
c2    10
Name: 0, dtype: int64

## using index

In [84]:
data.iloc[0]

c1     1
c2    10
Name: 0, dtype: int64

In [85]:
data

   c1  c2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [86]:
data.loc[1,'c1']

np.int64(2)

In [87]:
data.loc[0,'c2']

np.int64(10)

In [88]:
data.iloc[1,1]

np.int64(20)