## where to use pandas
- data manipulation
- data visualization
-

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.3'

## key data structure
- series=one list
- dataframe=full table

### pandas series

In [5]:
sales=pd.Series([1,2,3])

In [6]:
sales

0    1
1    2
2    3
dtype: int64

In [7]:
sales[0]

np.int64(1)

In [8]:

sales[1]

np.int64(2)

In [9]:
sales[:2]# provide the data until n-1

0    1
1    2
dtype: int64

## attributes

In [10]:
sales.index

RangeIndex(start=0, stop=3, step=1)

In [11]:
sales.values

array([1, 2, 3])

In [12]:
sales.dtype

dtype('int64')

## methods

In [13]:
sales.head()# by default it shows the first 5 row

0    1
1    2
2    3
dtype: int64

In [14]:
sales.tail()#by default it shows the 5 last value

0    1
1    2
2    3
dtype: int64

In [15]:
sales.tail(1)

2    3
dtype: int64

In [16]:
sales.sort_values()

0    1
1    2
2    3
dtype: int64

In [17]:
sales1=pd.Series([1,2,7,8,3,5,1,3,8,0,4])

In [18]:
sales1

0     1
1     2
2     7
3     8
4     3
5     5
6     1
7     3
8     8
9     0
10    4
dtype: int64

In [19]:
sales1.sort_values()

9     0
0     1
6     1
1     2
7     3
4     3
10    4
5     5
2     7
3     8
8     8
dtype: int64

In [20]:
sales1.count()

np.int64(11)

In [21]:
sales1.isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [22]:
sales1.notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
dtype: bool

## operation ]

In [23]:
sales+2

0    3
1    4
2    5
dtype: int64

In [24]:
sales

0    1
1    2
2    3
dtype: int64

In [25]:
sales*3

0    3
1    6
2    9
dtype: int64

In [26]:
sales**2

0    1
1    4
2    9
dtype: int64

In [27]:
sales_with_missing=pd.Series([1,4,5,None,7,6,None])

In [28]:
sales_with_missing

0    1.0
1    4.0
2    5.0
3    NaN
4    7.0
5    6.0
6    NaN
dtype: float64

In [29]:
sales_with_missing.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [30]:
sales_with_missing.notnull()

0     True
1     True
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [31]:
s1=sales_with_missing.fillna(0)

In [32]:
sales_with_missing

0    1.0
1    4.0
2    5.0
3    NaN
4    7.0
5    6.0
6    NaN
dtype: float64

In [33]:
s1

0    1.0
1    4.0
2    5.0
3    0.0
4    7.0
5    6.0
6    0.0
dtype: float64

In [34]:
sales_with_missing=sales_with_missing.fillna(0)

In [35]:
sales_with_missing

0    1.0
1    4.0
2    5.0
3    0.0
4    7.0
5    6.0
6    0.0
dtype: float64

In [36]:
sales_with_missing

0    1.0
1    4.0
2    5.0
3    0.0
4    7.0
5    6.0
6    0.0
dtype: float64

In [37]:
sales_with_missing

0    1.0
1    4.0
2    5.0
3    0.0
4    7.0
5    6.0
6    0.0
dtype: float64

In [38]:
s=pd.Series(data=[100,200,300,400,500,600],index=list('abcdef'))

In [39]:
s

a    100
b    200
c    300
d    400
e    500
f    600
dtype: int64

## pandas dataframe

### create dataframe

In [40]:
data=pd.DataFrame({
    'name':['rosan','kamal'],
    'age':[21,23]
})

In [41]:
data

    name  age
0  rosan   21
1  kamal   23

In [42]:
s1=pd.Series(data=[1,2,3,4,5])
s2=pd.Series(data=[10,20,30,40,50])
s3=pd.Series(data=[100,200,300,400,500],index=list('abcde'))
data=pd.DataFrame({'c1':s1,'c2':s2})

In [43]:
s3

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [44]:
data

   c1  c2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

## attributes

In [45]:
s1.shape

(5,)

In [46]:
data.shape

(5, 2)

In [47]:
data.columns

Index(['c1', 'c2'], dtype='object')

### Accessing data

## using lables

In [48]:
data.loc[0]

c1     1
c2    10
Name: 0, dtype: int64

## using index

In [49]:
data.iloc[0]

c1     1
c2    10
Name: 0, dtype: int64

In [50]:
data

   c1  c2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [51]:
data.loc[1,'c1']

np.int64(2)

In [52]:
data.loc[0,'c2']

np.int64(10)

In [53]:
data.iloc[1,1]

np.int64(20)

In [54]:
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}

In [55]:
data

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

In [56]:
df=pd.DataFrame(data)

In [57]:
df

   calories  duration
0       420        50
1       380        40
2       390        45

In [58]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [59]:
df.loc[1]

calories    380
duration     40
Name: 1, dtype: int64

In [60]:
df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

In [61]:
df=pd.DataFrame(data,index=['day1','day2','day3'])

In [62]:
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [63]:
df.loc['day2']

calories    380
duration     40
Name: day2, dtype: int64

In [64]:
df=pd.read_csv('dataset/friday1.csv')

In [65]:
import os
print(os.getcwd())

C:\Users\USER\Desktop\datascience\youtube

In [66]:
print(os.listdir)

<built-in function listdir>

In [67]:
df

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,54865,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,55054,109,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,55055,52,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
3,46236,34,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,54863,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225740,61374,61,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
225741,61378,72,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
225742,61375,75,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
225743,61323,48,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
225744,61326,68,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [68]:
df.head()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,54865,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,55054,109,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,55055,52,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
3,46236,34,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,54863,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225745 entries, 0 to 225744
Data columns (total 79 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0    Destination Port             225745 non-null  int64
 1    Flow Duration                225745 non-null  int64
 2    Total Fwd Packets            225745 non-null  int64
 3    Total Backward Packets       225745 non-null  int64
 4   Total Length of Fwd Packets   225745 non-null  int64
 5    Total Length of Bwd Packets  225745 non-null  int64
 6    Fwd Packet Length Max        225745 non-null  int64
 7    Fwd Packet Length Min        225745 non-null  int64
 8    Fwd Packet Length Mean       225745 non-null  float64
 9    Fwd Packet Length Std        225745 non-null  float64
 10  Bwd Packet Length Max         225745 non-null  int64
 11   Bwd Packet Length Min        225745 non-null  int64
 12   Bwd Packet Length Mean       225745 non-null  float64
 13   Bwd Packet Length Std        225745 non-null  float64
 14  Flow Bytes/s                  225741 non-null  float64
 15   Flow Packets/s               225745 non-null  float64
 16   Flow IAT Mean                225745 non-null  float64
 17   Flow IAT Std                 225745 non-null  float64
 18   Flow IAT Max                 225745 non-null  int64
 19   Flow IAT Min                 225745 non-null  int64
 20  Fwd IAT Total                 225745 non-null  int64
 21   Fwd IAT Mean                 225745 non-null  float64
 22   Fwd IAT Std                  225745 non-null  float64
 23   Fwd IAT Max                  225745 non-null  int64
 24   Fwd IAT Min                  225745 non-null  int64
 25  Bwd IAT Total                 225745 non-null  int64
 26   Bwd IAT Mean                 225745 non-null  float64
 27   Bwd IAT Std                  225745 non-null  float64
 28   Bwd IAT Max                  225745 non-null  int64
 29   Bwd IAT Min                  225745 non-null  int64
 30  Fwd PSH Flags                 225745 non-null  int64
 31   Bwd PSH Flags                225745 non-null  int64
 32   Fwd URG Flags                225745 non-null  int64
 33   Bwd URG Flags                225745 non-null  int64
 34   Fwd Header Length            225745 non-null  int64
 35   Bwd Header Length            225745 non-null  int64
 36  Fwd Packets/s                 225745 non-null  float64
 37   Bwd Packets/s                225745 non-null  float64
 38   Min Packet Length            225745 non-null  int64
 39   Max Packet Length            225745 non-null  int64
 40   Packet Length Mean           225745 non-null  float64
 41   Packet Length Std            225745 non-null  float64
 42   Packet Length Variance       225745 non-null  float64
 43  FIN Flag Count                225745 non-null  int64
 44   SYN Flag Count               225745 non-null  int64
 45   RST Flag Count               225745 non-null  int64
 46   PSH Flag Count               225745 non-null  int64
 47   ACK Flag Count               225745 non-null  int64
 48   URG Flag Count               225745 non-null  int64
 49   CWE Flag Count               225745 non-null  int64
 50   ECE Flag Count               225745 non-null  int64
 51   Down/Up Ratio                225745 non-null  int64
 52   Average Packet Size          225745 non-null  float64
 53   Avg Fwd Segment Size         225745 non-null  float64
 54   Avg Bwd Segment Size         225745 non-null  float64
 55   Fwd Header Length.1          225745 non-null  int64
 56  Fwd Avg Bytes/Bulk            225745 non-null  int64
 57   Fwd Avg Packets/Bulk         225745 non-null  int64
 58   Fwd Avg Bulk Rate            225745 non-null  int64
 59   Bwd Avg Bytes/Bulk           225745 non-null  int64
 60   Bwd Avg Packets/Bulk         225745 non-null  int64
 61  Bwd Avg Bulk Rate             225745 non-null  int64
 62  Subflow Fwd Packets           225745 non-null  int64
 63   Subflow Fwd Bytes            225745 non-null  int64
 64   Subflow Bwd Packets          225745 non-null  int64
 65   Subflow Bwd Bytes            225745 non-null  int64
 66  Init_Win_bytes_forward        225745 non-null  int64
 67   Init_Win_bytes_backward      225745 non-null  int64
 68   act_data_pkt_fwd             225745 non-null  int64
 69   min_seg_size_forward         225745 non-null  int64
 70  Active Mean                   225745 non-null  float64
 71   Active Std                   225745 non-null  float64
 72   Active Max                   225745 non-null  int64
 73   Active Min                   225745 non-null  int64
 74  Idle Mean                     225745 non-null  float64
 75   Idle Std                     225745 non-null  float64
 76   Idle Max                     225745 non-null  int64
 77   Idle Min                     225745 non-null  int64
 78   Label                        225745 non-null  object
dtypes: float64(24), int64(54), object(1)
memory usage: 136.1+ MB

In [70]:
df.describe()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
count,225745.00000,2.257450e+05,225745.000000,225745.000000,225745.000000,2.257450e+05,225745.000000,225745.000000,225745.000000,225745.000000,...,225745.000000,225745.000000,2.257450e+05,2.257450e+05,2.257450e+05,2.257450e+05,2.257450e+05,2.257450e+05,2.257450e+05,2.257450e+05
mean,8879.61946,1.624165e+07,4.874916,4.572775,939.463346,5.960477e+03,538.535693,27.882221,164.826715,214.907242,...,3.311497,21.482753,1.848261e+05,1.293436e+04,2.080849e+05,1.776201e+05,1.032214e+07,3.611943e+06,1.287813e+07,7.755355e+06
std,19754.64740,3.152437e+07,15.422874,21.755356,3249.403484,3.921834e+04,1864.128991,163.324159,504.892965,797.411073,...,12.270018,4.166799,7.979250e+05,2.102737e+05,9.002350e+05,7.842602e+05,2.185303e+07,1.275689e+07,2.692126e+07,1.983109e+07
min,0.00000,-1.000000e+00,1.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,80.00000,7.118000e+04,2.000000,1.000000,26.000000,0.000000e+00,6.000000,0.000000,6.000000,0.000000,...,1.000000,20.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,80.00000,1.452333e+06,3.000000,4.000000,30.000000,1.640000e+02,20.000000,0.000000,8.666667,5.301991,...,2.000000,20.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,80.00000,8.805237e+06,5.000000,5.000000,63.000000,1.160100e+04,34.000000,6.000000,32.000000,10.263203,...,4.000000,20.000000,1.878000e+03,0.000000e+00,1.878000e+03,1.862000e+03,8.239725e+06,0.000000e+00,8.253838e+06,7.422849e+06
max,65532.00000,1.199999e+08,1932.000000,2942.000000,183012.000000,5.172346e+06,11680.000000,1472.000000,3867.000000,6692.644993,...,1931.000000,52.000000,1.000000e+08,3.950000e+07,1.000000e+08,1.000000e+08,1.200000e+08,6.530000e+07,1.200000e+08,1.200000e+08

In [71]:
data

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

## filtering

In [72]:
data

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

In [73]:
df1=pd.DataFrame(data)

In [74]:
df1

   calories  duration
0       420        50
1       380        40
2       390        45

In [75]:
df1.describe()

         calories  duration
count    3.000000       3.0
mean   396.666667      45.0
std     20.816660       5.0
min    380.000000      40.0
25%    385.000000      42.5
50%    390.000000      45.0
75%    405.000000      47.5
max    420.000000      50.0

In [76]:
df1[df1['calories']>380]

   calories  duration
0       420        50
2       390        45

In [77]:
df1[df1['calories']>350]

   calories  duration
0       420        50
1       380        40
2       390        45

## Adding,Updating,Deleting

In [78]:
df1['burn']=[1,2,3]

In [79]:
df1

   calories  duration  burn
0       420        50     1
1       380        40     2
2       390        45     3

In [80]:
del df1['burn']

In [81]:
df1

   calories  duration
0       420        50
1       380        40
2       390        45

In [82]:
df1['burn']=[2,3,4]

In [83]:
df1

   calories  duration  burn
0       420        50     2
1       380        40     3
2       390        45     4

In [84]:
df1=df1.drop(columns=['burn'])

In [85]:
df1

   calories  duration
0       420        50
1       380        40
2       390        45

In [86]:
data

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

In [87]:
df1

   calories  duration
0       420        50
1       380        40
2       390        45

In [88]:
df1.loc[df1['calories']==420]=500

In [89]:
df1

   calories  duration
0       500       500
1       380        40
2       390        45

In [90]:
df1.loc[df1['duration']==45]=60

In [91]:
df1

   calories  duration
0       500       500
1       380        40
2        60        60

In [92]:
df1.loc[df1['calories']==380]=700

In [93]:
df1

   calories  duration
0       500       500
1       700       700
2        60        60

In [94]:
df2=df1.rename(columns={'calories':'A','duration':'B'})

In [95]:
df2

     A    B
0  500  500
1  700  700
2   60   60

In [96]:
df2

     A    B
0  500  500
1  700  700
2   60   60

In [97]:
df2

     A    B
0  500  500
1  700  700
2   60   60

In [98]:
df2

     A    B
0  500  500
1  700  700
2   60   60

In [102]:
df2

     A    B
0  500  500
1  700  700
2   60   60

In [100]:
df.isnull()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225741,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225742,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225743,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225744,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [101]:
df1

   calories  duration
0       500       500
1       700       700
2        60        60

In [105]:
df1.rename(columns={'calories':'A','duration':'B'},inplace=True)

In [106]:
df1

     A    B
0  500  500
1  700  700
2   60   60

In [108]:
df1['C']=[1,2,3]

In [109]:
df1

     A    B  C
0  500  500  1
1  700  700  2
2   60   60  3

In [110]:
df1.loc[0]

A    500
B    500
C      1
Name: 0, dtype: int64

In [111]:
df1.iloc[1,2]

np.int64(2)

In [112]:
df1.to_csv('dataset.csv')

In [113]:
df1

     A    B  C
0  500  500  1
1  700  700  2
2   60   60  3

In [116]:
df2=pd.read_csv('dataset.csv')

In [117]:
df2

   Unnamed: 0    A    B  C
0           0  500  500  1
1           1  700  700  2
2           2   60   60  3

In [125]:
import numpy as np
dict1={'X':[1,2,3,4],
       'Y':np.array([10,20,30,40]),
      'Z':50}

In [126]:
dict1

{'X': [1, 2, 3, 4], 'Y': array([10, 20, 30, 40]), 'Z': 50}

In [127]:
pd.DataFrame(dict1)

   X   Y   Z
0  1  10  50
1  2  20  50
2  3  30  50
3  4  40  50

In [128]:
list1=[[1,2,3],[4,5,6],[4,6,8]]

In [129]:
list1

[[1, 2, 3], [4, 5, 6], [4, 6, 8]]

In [132]:
pd.DataFrame(list1,columns=['X','Y','Z'])

   X  Y  Z
0  1  2  3
1  4  5  6
2  4  6  8

In [133]:
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [134]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [136]:
pd.DataFrame(arr,columns=['X','Y','Z'])

   X  Y  Z
0  1  2  3
1  4  5  6
2  7  8  9

## data cleaning and data preprocessing 
#### handling missing data
- dropna()
- fillna()
- isnull(

In [154]:
missing=pd.Series([1,None,2,4,None])

In [155]:
missing

0    1.0
1    NaN
2    2.0
3    4.0
4    NaN
dtype: float64

In [156]:
missing.isnull()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [158]:
missing.dropna()

0    1.0
2    2.0
3    4.0
dtype: float64

In [159]:
missing.fillna(0)

0    1.0
1    0.0
2    2.0
3    4.0
4    0.0
dtype: float64

In [160]:
missing.mean()

np.float64(2.3333333333333335)

In [161]:
missing.fillna(missing.mean())

0    1.000000
1    2.333333
2    2.000000
3    4.000000
4    2.333333
dtype: float64

In [162]:
missing.fillna(missing.min())

0    1.0
1    1.0
2    2.0
3    4.0
4    1.0
dtype: float64

In [163]:
missing.fillna(missing.max())

0    1.0
1    4.0
2    2.0
3    4.0
4    4.0
dtype: float64

In [164]:
missing.fillna(missing.std())

0    1.000000
1    1.527525
2    2.000000
3    4.000000
4    1.527525
dtype: float64

In [165]:
missing.fillna(missing.var())

0    1.000000
1    2.333333
2    2.000000
3    4.000000
4    2.333333
dtype: float64

## Remove the duplicate value

In [167]:
df1

   Unnamed: 0    A    B  C
0           0  500  500  1
1           1  700  700  2
2           2   60   60  3

In [171]:
s1=pd.Series(data=[1,3,4,5,6,1,1])
s2=pd.Series(data=[1,42,5,7,6,1,1])
d1=pd.DataFrame({'C1':s1,'C2':s2})

In [172]:
d1

   C1  C2
0   1   1
1   3  42
2   4   5
3   5   7
4   6   6
5   1   1
6   1   1

In [173]:
d1.drop_duplicates()

   C1  C2
0   1   1
1   3  42
2   4   5
3   5   7
4   6   6

In [174]:
d1.replace(1,100)

    C1   C2
0  100  100
1    3   42
2    4    5
3    5    7
4    6    6
5  100  100
6  100  100

### Type conversion

In [176]:
d1['C1']=d1['C1'].astype(float)

In [177]:
d1

    C1  C2
0  1.0   1
1  3.0  42
2  4.0   5
3  5.0   7
4  6.0   6
5  1.0   1
6  1.0   1

In [178]:
d1['C2']=d1['C2'].astype(float)

In [179]:
d1

    C1    C2
0  1.0   1.0
1  3.0  42.0
2  4.0   5.0
3  5.0   7.0
4  6.0   6.0
5  1.0   1.0
6  1.0   1.0

### string operation

In [182]:
d1['C3']=['yes','no','or','and','but','nice','hii']
d1['C3'].str.upper()

0     YES
1      NO
2      OR
3     AND
4     BUT
5    NICE
6     HII
Name: C3, dtype: object

In [183]:
d1

    C1    C2    C3
0  1.0   1.0   yes
1  3.0  42.0    no
2  4.0   5.0    or
3  5.0   7.0   and
4  6.0   6.0   but
5  1.0   1.0  nice
6  1.0   1.0   hii